

  <div class="row">

    <div class="col-sm">
      <div class="centerText">
        LOGO
      </div>



        <div class="centerText">
          Registration
        </div>

        <div class="centerText">
          Login
        </div>
      </div>

      <div class="col-sm">
      <div class="centerText">
        Continue
      </div>

        <div class="centerText">
          Start
        </div>

        <div class="centerText">
          Make your own Question
        </div>
      </div>

      <div class="col-sm">
      <div class="centerText">
        LOGO
      </div>



        <div class="centerText">
          Registration
        </div>

        <div class="centerText">
          Login
        </div>
      </div>

    </div>

