<div class="booyah-box col-10 offset-1">
  <div class="row">
    <div class="offset-2 col-8 centerText">
      Logo
    </div>
  </div>

  <div class="row">
    
    <div class="offset-2 col-3 centerText">
     <button type="button" class="btn btn-outline-info btn-lg btn-block" onclick="window.location.href = '/users/sign_up';">Register</button>

    </div>
    <div class="offset-2 col-3 centerText">
     <button type="button" class="btn btn-outline-info btn-lg btn-block" onclick="window.location.href = '/users/sign_in';">Sign In</button>

     </body>
    </div>
  </div>
</div>
