<div class="container">
  <div class="row">
    <div class="col-4 centerText">
      Score
    </div>
    <div class="offset-4 col-4 centerText">
      Level
    </div>  
  </div>

  <% @qid = rand(1..10) %>
 
  <div class="row centerText">
    <% if Question.find(@qid).user_id != nil %>
      <%= User.find(Question.find(@qid).user_id).email %>
    <% end %>
    <div class="col-12 centerText">
      <%= Question.find(@qid).question %>
    </div>
    <div class="col-4">
      <%= Question.find(@qid).book_name %>
    </div>
    <div class="offset-4 col-4">
      <%= Question.find(@qid).author_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-6 centerText">
      1
    </div>
    <div class="col-6 centerText">
      2
    </div> 
  </div>

  <div class="row">
    <div class="col-6 centerText">
      3
    </div>
    <div class="col-6 centerText">
      4
    </div> 
  </div>
</div>