<div class="container"> 
  <div class="row">
    <div class="col-4">
      Profile Picture
      <br><br>
      Username
      <br><br>
      Rank
      <br><br>
      Overall Score
      <br><br>
      Number of Games Played
    </div>

    <div class="col-4">
      <button>
        Continue
      </button>
      <br><br>
      <button>
        Start New Game
      </button>
      <br><br>
      <button>
        Submit Quiz Question
      </button>
    </div>

    <div class="col-4">
      Leaderboard
      <br><br>
      <div class="row"> 
        <div class="col-3">
          Profile Picture
        </div>
        <div class="col-9">
          Username 
          <br>
          Rank
          <br>
          Score
        </div>
    </div>
     <div class="row"> 
        <div class="col-3">
          Profile Picture
        </div>
        <div class="col-9">
          Username 
          <br>
          Rank
          <br>
          Score
        </div>
    </div>
     <div class="row"> 
        <div class="col-3">
          Profile Picture
        </div>
        <div class="col-9">
          Username 
          <br>
          Rank
          <br>
          Score
        </div>
    </div>
     <div class="row"> 
        <div class="col-3">
          Profile Picture
        </div>
        <div class="col-9">
          Username 
          <br>
          Rank
          <br>
          Score
        </div>
    </div>
     <div class="row"> 
        <div class="col-3">
          Profile Picture
        </div>
        <div class="col-9">
          Username 
          <br>
          Rank
          <br>
          Score
        </div>
    </div>
    

    </div>
</div>