@import "bootstrap";

div {
  border-style: dotted;
  border-color: black;
  border-width: 1px;
  margin:25px 0px;
  padding: 0 0;
}

.centerText {
  text-align: center;
  color: #8A2BE2;
}